body {
    margin: 0;
    background: #e8e8e8;
    padding-top: 60px;
}

p {
    font-size: 14px;
}

input.fieldError {
    color: #f44336;
}

span.fieldError {
    color: #f44336;
    margin: 0;
    font-size: 0.75rem;
    text-align: left;
    margin-top: 8px;
    min-height: 1em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1em;
    display: block;
    margin-bottom: 10px;
}

div.tshirt {
    max-width: 385px;
    max-height: 385px;
}